:root {
  --c-dark: #0E3D55;
  --c-light: #D7E4E5;
  --c-green: #26B394;
  --c-pink: #D93D7B;
  --c-cyan: #0A8399;
  --c-gray: #6C788A;
  --c-white: #FFFFFF;
  --font-main: 'Manrope', sans-serif;
}
