# Compiled output
dist
out-tsc
build

# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database (NÃO COMITAR O SQLITE)
*.sqlite
*.sqlite-journal
*.sqlite3
*.db
*.db3

# Testes
coverage

# OS/Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?